<!--分页信息模板-->
<ul class="pagination pull-right">
    <% if( pageNum > 1){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(1)">«</a></li>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=pageNum-1%>)">‹</a></li>
    <% }else{ %>
    <li class="footable-page-arrow disabled"><a>«</a></li>
    <li class="footable-page-arrow disabled"><a>‹</a></li>
    <% } %>

    <% if( pageNum <= 5){ %>
    <% for(var i=1;i<pageNum;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% } else{ %>
    <% if( pageNum >(pages-5)){ %>
    <% if( 1 >pageNum-5-(pageNum-(pages-5))){ %>
    <% for(var i=1;i<pageNum;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% }else{ %>
    <% for(var i=pageNum-5-(pageNum-(pages-5));i<pageNum;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% } %>
    <% }else{ %>
    <% for(var i=pageNum-5;i<pageNum;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% } %>
    <% } %>

    <li class="footable-page-arrow active"><a onclick="submitFrom(<%=pageNum%>)"><%=pageNum%></a></li>



    <% if( pageNum > (pages-5)){ %>
    <% for(var i=pageNum+1;i<=pages;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% } else{ %>
    <% if(pageNum <= 5 ){ %>
    <% if(pages < pageNum+5+(5-pageNum+1) ){ %>
    <% for(var i=pageNum+1;i<=pages;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% }else{ %>
    <% for(var i=pageNum+1;i<=pageNum+5+(5-pageNum+1);i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% } %>
    <% } else{ %>
    <% for(var i=pageNum+1;i<=pageNum+5;i++){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=i%>)"><%=i%></a></li>
    <% } %>
    <% } %>
    <% } %>

    <% if( pageNum < pages){ %>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=pageNum+1%>)">›</a></li>
    <li class="footable-page-arrow"><a onclick="submitFrom(<%=pages%>)">»</a></li>
    <% }else{ %>
    <li class="footable-page-arrow disabled"><a>›</a></li>
    <li class="footable-page-arrow disabled"><a>»</a></li>
    <% } %>
    <li class="footable-page-arrow disabled"><a>共&nbsp;<%=pages%>&nbsp;页&nbsp;&nbsp;&nbsp;&nbsp;<%=total%>&nbsp;条记录</a>
</ul>